*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary-color: rgb(118, 172, 121);
    --secondary-color:rgb(210, 241, 212);
    --tertiary-color: rgb(53, 117, 56);
}

h2{
    color: var(--tertiary-color);
}

.main-container{
    background-color:var(--secondary-color);
    width: 500px;
    margin: 3rem auto;
    padding: 2rem;

}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.button-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.b-r-20px{
    border-radius: 20px;
}

a{
    color:var(--tertiary-color);
}

#save-btn, #delete-btn, #tab-btn{
    padding: 1rem;
    background-color:    var(--tertiary-color);
    width:40%;
    color: whitesmoke;
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

#delete-btn{
 background-color: white;
 border: 2px solid var(--tertiary-color);
color: var(--tertiary-color);
}

#save-btn:hover, #tab-btn:hover{
    background-color:rgb(67, 255, 43);
    color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
}

#delete-btn:hover{
    background-color: red;
    color: white;
    border: 2px solid transparent ;
}


#input-el{
    padding: 2rem;
    width: 100%;
    margin-top: 2rem;
    font-size: 1.2rem;
}

#ul-el{
     width: 100%;
      font-size: 1.2rem;
     padding: 2rem;
     background-color: rgb(240, 255, 249);
     list-style: none;
     color: var(--tertiary-color);
}

.b-style{
   border: 2px solid var(--tertiary-color);
}